// * {
//   -webkit-overflow-scrolling: touch;
// }

html {
  margin: 0;
  padding: 0;
  height: 100%;

  @include media-down($bp-lg) {
    // overflow: hidden;
  }
}

body {
  margin: 0;
  padding: 0;
  background: $background-white;
  height: 100%;

  #__nuxt {
    height: 100%;

    #__layout {
      height: 100%;
    }
  }
}
