@import url("https://use.typekit.net/okb5lju.css");

html {
  font-family: $font-serif;
  font-weight: 400;
  color: $color-text-primary;
  line-height: 1.35;

  @include media-down($bp-sm) {
    font-size: 16px;
  }
}

* {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p {
  &.inline {
    display: inline;
  }

  &.block {
    display: block;
    margin-top: 0;
  }
}
a {
  color: $color-text-red;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 1.5em;
}

.line-width {
  width: 32em;
  max-width: 100%;
  font-size: 1rem;

  // @include media-down($bp-sm) {
  //   font-size: 16px;
  // }
}

.body {
  font-size: 1rem;
  font-family: $font-serif;

  // @include media-down($bp-sm) {
  //   font-size: 16px;
  // }
}

%heading {
  font-family: $font-serif;
  margin: 0.25em 0 1em;
}

.heading-1 {
  @extend %heading;
  font-weight: 400;
  font-size: 3em;
}

.heading-2 {
  @extend %heading;
  font-weight: 400;
  font-size: 2em;
}

.color-inverse {
  color: $color-text-inverse;
}

.color-red {
  color: $color-text-red;
}

.color-green {
  color: $color-text-green;
}

.color-yellow {
  color: $color-text-yellow;
}

.quote {
  color: $color-text-green;
  font-style: italic;

  .source {
    font-size: 0.9em;
    font-style: normal;

    &:hover {
      color: inherit;
    }
  }
}

.source {
  font-size: 0.8em;
  transition: all 0.2s;

  &:hover {
    color: $color-text-red;
  }
}

.caption {
  font-size: 0.7em;
  margin: 0;
}
