$background-white: #f4f7f6;
$black-indigo: #071230;
$cobalt-green: #94ff94;
$olive-ocher: #d1bd19;
$white: #fafafa;
$violet: #2619d1;

$brand-color: $olive-ocher;

$olive-ocher: #d1bd19;
$cerulian-blue: #2c91b7;
$orange-yellow: #ffab00;

// BREAKPOINTS
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 960px;
$bp-xl: 1220px;

// GRID VARS
$grid-columns: 12 !default;
$grid-gap: 1rem !default;
$grid-margin: 2rem !default;
$grid-breakpoints:
  sm #{$bp-sm},
  md #{$bp-md},
  lg #{$bp-lg},
  xl #{$bp-xl};

$grid-gap-half : $grid-gap * .5;
$grid-gap-compensation: $grid-gap * .5 * -1;

// TYPE
$bennet: bennet-text-one, serif;
$bennet-display: bennet-display, serif;
$font-serif: $bennet;

$font-size-base: 25px;
$font-size-body: $font-size-base;
$base-font-size: $font-size-base;

$color-text-primary: $black-indigo;
$color-text-inverse: $white;
$color-text-green: $violet;
$color-text-yellow: $cobalt-green;
$color-text-red: $olive-ocher;
