$black-indigo: #071230;
$jasper-red: #EB5324;
$yellow-orange: #FF8C00;
$benzol-green: #00978C;
$white: #FFFFFF;
$brand-color: $white;

// BREAKPOINTS
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 960px;
$bp-xl: 1220px;

// GRID VARS
$grid-columns: 12 !default;
$grid-gap: 1rem !default;
$grid-margin: 2rem !default;
$grid-breakpoints:
  sm #{$bp-sm},
  md #{$bp-md},
  lg #{$bp-lg},
  xl #{$bp-xl};

$grid-gap-half : $grid-gap * .5;
$grid-gap-compensation: $grid-gap * .5 * -1;

// TYPE
$bennet: bennet-text-one, sans-serif;
$p22: p22-underground, sans-serif;

$font-sans: $p22;
$font-serif: $bennet;

$font-size-base: 25px;
$font-size-body: $font-size-base;
$base-font-size: $font-size-base;

$color-text-primary: $black-indigo;
$color-text-inverse: $white;
$color-text-green: $benzol-green;
$color-text-yellow: $yellow-orange;
$color-text-red: $jasper-red;