.quote {
  color: $color-text-green;
  font-size: 0.9em;
  font-style: italic;

  .text {
    display: block;
  }
  .source {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  &:hover {
    .source {
      max-height: 100px;
    }
  }
}