blockquote {
  display: block;
  padding: 1rem 5rem;

  &.quote {
    &:hover {
      color: $color-text-red;
      & + .writer {
        color: $color-text-red;
      }
    }
  }

  &.writer {
    position: absolute;
    right: 0;
  }
}