.__view {
  width: 100% !important;
  max-width: 100%;
}

.__rail-is-vertical {
  right: 2px;
  width: 6px;
  border-radius: 6px;
  background: rgba(165, 165, 165, 0.5);

  &:hover {
    .__bar-is-vertical {
      opacity: 1 !important;
    }
  }
}

.__bar-wrap-is-vertical {
  border-radius: 3px;
}

.__bar-is-vertical {
  background: $color-text-primary;
  width: 6px;
}
