.sidenote {
  &__wrapper {
    pointer-events: none;
    display: inline;

    &>span {
      pointer-events: auto;
    }

    &+p {
      display: inline;
    }

  }

  &.active {
    color: $color-text-red;
    .sidenote__description {
      transition: all 0.3s;
      max-height: 1000px;
      padding: 0.25rem 0.5rem;
    }
  }

  &:hover {
    color: $color-text-red;
    cursor: help;
  }

  &__link {
    display: inline-block;
    position: relative;

    &::after {
      counter-increment: sidenote;
      content: "["counter(sidenote)"]";
      display: inline-block;
      text-align: center;
      line-height: 1em;
      font-weight: 400;
      z-index: 2;
    }
  }

  &__description {
    display: block;
    font-size: 0.9em;
    color: $color-text-red;

    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s;

    &:hover {
      cursor: auto;
    }

    @include media-up($bp-lg) {
      position: absolute;
      right: calc(-40% - 2em);
      width: 40%;
      margin-top: -1rem;
      z-index: 10;
      background: #ffffff;
      padding: 0 0.5rem;
    }


    p {
      margin: 0;
    }
  }
}

.quote {
  .sidenote {
    &__wrapper {

      &:hover {
        color: $color-text-red;
      }
    }

    &__link {
      &::after {
        color: inherit;
      }
    }
  }
}
