.sidenote {
  &__wrapper {
    pointer-events: none;
    display: inline;

    &>span {
      pointer-events: auto;
    }

    &+p {
      display: inline-block;
      margin-top: 0;
    }

    &:hover {
      color: $color-text-red;
      cursor: help;

      .sidenote__description {
        transition: max-height 0.3s 0s;
        max-height: 1000px;
      }
    }
  }

  &__link {
    display: inline-block;
    position: relative;

    &::after {
      counter-increment: sidenote;
      content: "["counter(sidenote)"]";
      display: inline-block;
      text-align: center;
      line-height: 1em;
      font-weight: 400;
      color: $color-text-red;
      z-index: 2;
    }
  }

  &__description {
    display: block;
    font-size: 0.9em;
    color: $color-text-red;

    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s 0.75s;

    @include media-up($bp-lg) {
      position: absolute;
      right: calc(-40% - 2em);
      width: 40%;
      z-index: 10;
      background: $white;
    }


    p {
      margin: 0;
    }
  }
}

.quote {
  .sidenote {
    &__wrapper {
      &:hover {
        color: $color-text-red;
      }
    }

    &__link {
      &::after {
        color: inherit;
      }
    }
  }
}
