.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  // margin-left: $grid-gap-compensation;
  // margin-right: $grid-gap-compensation;
}

.col {
  @include flexboxgrid-sass-col-common;
  flex-basis: auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @include flexboxgrid-sass-col-common;
    flex-basis: (100% / $grid-columns * $i);
    max-width: 100% / $grid-columns * $i;
  }
}

@for $i from 0 through $grid-columns {
  .col-offset-#{$i} {
    @include flexboxgrid-sass-col-common;

    @if $i==0 {
      margin-left: 0;
    }

    @else {
      margin-left: 100% / $grid-columns * $i;
    }
  }
}

@each $breakpoint in $grid-breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @for $i from 1 through $grid-columns {
    .col-#{$name}-#{$i} {
      @include flexboxgrid-sass-col-common;
      flex-basis: 100%;
      max-width: 100%;
    }
  }


  @include media-up($size) {
    .col-#{$name} {
      @include flexboxgrid-sass-col-common;
      flex-basis: auto;
    }

    @for $i from 1 through $grid-columns {
      .col-#{$name}-#{$i} {
        // @include flexboxgrid-sass-col-common;
        flex-basis: (100% / $grid-columns * $i);
        max-width: 100% / $grid-columns * $i;
      }
    }

    @for $i from 0 through $grid-columns {
      .col-#{$name}-offset-#{$i} {
        @include flexboxgrid-sass-col-common;

        @if $i==0 {
          margin-left: 0;
        }

        @else {
          margin-left: 100% / $grid-columns * $i;
        }
      }
    }

    .col-#{$name} {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }
  }
}
